@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* Un blanc bleuté très léger */
    --foreground: 222.2 84% 4.9%;
  }
  html {
    scroll-behavior: smooth;
  }
}

/* Effet de verre pour la Navbar */
.glass-nav {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}